<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>

        </div>
    </nav>

    <!-- PRIKAZ FILMOVA -->
    <div ng-if="moviesShow" style="position: relative;">
        <div class="row" style="margin-bottom: 1%;" ng-repeat="movie in movies">
            <div ng-if="!($index % 4)">
                <div class="col-md-3 hvr-grow" ng-click="showMovie(movies[$index])">
                    <div class="thumbnail" style="background-image: url(images/WindowsXP.jpg)">
                            <img src="http://image.tmdb.org/t/p/original/{{movies[$index].posterPath}}" width="20%" height="20%" alt="ime filma" style="width: 100%">
                            <div class="caption">
                                <p style="text-align: center; color: rgb(49,172,174); font-size: 15px"><b>{{movies[$index].title}}</b></p>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 hvr-grow" ng-click="showMovie(movies[$index+1])">
                    <div class="thumbnail" style="background-image: url(images/WindowsXP.jpg)">
                        <img src="http://image.tmdb.org/t/p/original/{{movies[$index+1].posterPath}}" width="20%" height="20%" alt="ime filma" style="width: 100%">
                        <div class="caption">
                            <p style="text-align: center; color: rgb(49,172,174); font-size: 15px"><b>{{movies[$index+1].title}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hvr-grow" ng-click="showMovie(movies[$index+2])">
                    <div class="thumbnail" style="background-image: url(images/WindowsXP.jpg)">
                        <img src="http://image.tmdb.org/t/p/original/{{movies[$index+2].posterPath}}" width="20%" height="20%" alt="ime filma" style="width: 100%">
                        <div class="caption">
                            <p style="text-align: center; color: rgb(49,172,174); font-size: 15px"><b>{{movies[$index+2].title}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hvr-grow" ng-click="showMovie(movies[$index+3])">
                    <div class="thumbnail" style="background-image: url(images/WindowsXP.jpg)">
                        <img src="http://image.tmdb.org/t/p/original/{{movies[$index+3].posterPath}}" width="20%" height="20%" alt="ime filma" style="width: 100%">
                        <div class="caption">
                            <p style="text-align: center; color: rgb(49,172,174); font-size: 15px"><b>{{movies[$index+3].title}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="position: absolute; bottom: 0;left: 45%;">
            <div data-tooltip="Previous" class="pagination__dot" ng-click="nextPage(pageNumber-1)"> </div>
            <div data-tooltip="Page {{pageNumber + 1}}" class="pagination__dot" ng-click="nextPage(pageNumber+1)"> </div>
            <div data-tooltip="Page {{pageNumber + 2}}" class="pagination__dot" ng-click="nextPage(pageNumber+2)"> </div>
            <div data-tooltip="Page {{pageNumber + 3}}" class="pagination__dot" ng-click="nextPage(pageNumber+3)"> </div>
            <div data-tooltip="Next" class="pagination__dot" ng-click="nextPage(pageNumber+1)"> </div>
        </div>
    </div>


    <!-- PRIKAZ FILMA -->
    <div ng-if="!moviesShow">

        <div class="container" style="position:relative;">
            <div class="row" >
                <a class="btn btn-sm btn-info hvr-icon-back" ng-click="showMovies()">Back to main</a>
                <h1 style="text-align: center; color: aquamarine; margin-bottom: 3%;">{{movieToShow.title}}</h1>
                <div class="col-md-4">
                    <div class="imgAbt">
                        <img width="270" height="320" src="http://image.tmdb.org/t/p/original/{{movieToShow.posterPath}}" />
                    </div>
                </div>
                <div class="col-md-6" style="color: white">
                    <p>{{movieToShow.overview}}</p>
                    <br/>
                    <span class="hvr-icon-spin" ng-click="facts()" style="margin-bottom: 3%;font-size: 24px;">Facts</span>
                    <p class="slide-toggle-js" ng-if="factsShow">
                        <b style="font-size: 16px; color: #31acae"> Status: </b><em> {{movieToShow.status}}</em>
                        <br/>
                        <b style="font-size: 16px; color: #31acae"> Language: </b><em> {{movieToShow.language}}</em>
                        <br/>
                        <b style="font-size: 16px; color: #31acae"> Runtime: </b><em> {{movieToShow.runtime}} min </em>
                        <br/>
                        <b style="font-size: 16px; color: #31acae"> Revenue: </b> <em> {{ movieToShow.revenue }} $ </em>
                        <br/>
                        <b style="font-size: 16px; color: #31acae"> Release date: </b> <em>{{ movieToShow.releaseDate }} </em>
                        <br/>
                        <b style="font-size: 16px; color: #31acae"> Genres: </b> <em ng-repeat="genre in movieToShow.genres">{{ genre.genre }} &nbsp; </em>
                    </p>

                    <br/>
                    <a class="btn btn-warning">Watch<span class="glyphicon glyphicon-play"></span></a>
                    <a class="hvr-icon-bounce"></a>
                    <br/>
                    <br/>
                </div>
            </div>

            <div style="margin-top: 5%;">
                <h3 style="color: dodgerblue">Similar movies to watch</h3>
                <hr>
                <div class="row" ng-repeat="sim in similar">
                    <div ng-if="!($index%4)">
                        <div class="col-md-3 hvr-grow" ng-click="showMovie(similar[$index])">
                            <div class="thumbnail" style="background-image: url(images/WindowsXP.jpg)">
                                <img src="http://image.tmdb.org/t/p/original/{{similar[$index].posterPath}}" width="20%" height="20%" alt="ime filma" style="width: 100%">
                                <div class="caption">
                                    <p style="text-align: center; color: rgb(49,172,174); font-size: 15px"><b>{{similar[$index].title}}</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 hvr-grow" ng-click="showMovie(similar[$index+1])">
                            <div class="thumbnail" style="background-image: url(images/WindowsXP.jpg)">
                                <img src="http://image.tmdb.org/t/p/original/{{similar[$index+1].posterPath}}" width="20%" height="20%" alt="ime filma" style="width: 100%">
                                <div class="caption">
                                    <p style="text-align: center; color: rgb(49,172,174); font-size: 15px"><b>{{similar[$index+1].title}}</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 hvr-grow" ng-click="showMovie(similar[$index+2])">
                            <div class="thumbnail" style="background-image: url(images/WindowsXP.jpg)">
                                <img src="http://image.tmdb.org/t/p/original/{{similar[$index+2].posterPath}}" width="20%" height="20%" alt="ime filma" style="width: 100%">
                                <div class="caption">
                                    <p style="text-align: center; color: rgb(49,172,174); font-size: 15px"><b>{{similar[$index+2].title}}</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 hvr-grow" ng-click="showMovie(similar[$index+3])">
                            <div class="thumbnail" style="background-image: url(images/WindowsXP.jpg)">
                                <img src="http://image.tmdb.org/t/p/original/{{similar[$index+3].posterPath}}" width="20%" height="20%" alt="ime filma" style="width: 100%">
                                <div class="caption">
                                    <p style="text-align: center; color: rgb(49,172,174); font-size: 15px"><b>{{similar[$index+3].title}}</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <br/>
    <br/>
</div>